*{
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    background: #003366;
    padding: 10px;
    color: #FFFFFF;
    font-family: "Raleway", serif;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #FFFFFF;

}
nav ul li a button{
    border-style: none;
    padding: 6px;
    background: #fef5e7;
    color: #333333;
    border-radius: 5px;
}
body{
    background: #fef5e7;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

/*hero-section styling*/
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
    padding: 10px;
    height: 100vh;
    margin-top: 30px;
}
.hero-section #text{
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 50%;
    padding: 10px;
    height: 100vh;

}
.hero-section #text h3{
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.hero-section #text p{
    line-height: 1.5;
    letter-spacing: 0.05em;
    width: 95%;
}

.hero-section #text a{
    text-decoration: none;
    color: white;
}
.hero-section #text  button{
    border-style: none;
    padding: 10px;
    background: #003366;
    color: white;
    border-radius: 5px;

}
.hero-section .img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2px;
    max-width: 50%;
    padding: 10px;
    height: 75vh;
}
.hero-section .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 2px;
}

/*About section styling*/
.title h3{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-family: "Raleway", serif;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    height: 75vh;
}
.about .about-img{
    max-width: 50%;
    height: 60vh;

}
.about .about-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 2px;
}
.about .about-text{
    max-width: 50%;

}
.about .about-text p{

    line-height: 1.4;
    letter-spacing: 0.05em;
    width: 90%;
}

/*testimonials section styling*/
.testimonials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    padding: 10px;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    
}
.testimonials .person{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 5pxs;
    height: auto;
}
.testimonials .person .person-details{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
.testimonials .person img{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    object-fit: cover;
}
.testimonials .person p{
    line-height: 1.5;
    letter-spacing: 0.04em;
    max-width: 95%;

}

/*footer section styling*/
footer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    padding: 10px;
    background: #003366;
    color: white;
    bottom: 0;

}
footer li{
    list-style: none;
    gap: 4px;
}
footer h3{
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
footer a{
    text-decoration: none;
    color: white;
    
}
footer .contact li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
footer .contact .socials ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}