{% extends "emp_base.html" %}
{% block content %}
<div class="form">
<h2>Apply for Gig: {{ gig.name }}</h2>

<form method="POST">
  {% csrf_token %}
  
  <label for="gig"></label>
  <input type="text" id="gig" name="gig" value="{{ gig.id }}" readonly><br>


  <label for="employee"></label>
  <input type="text" id="employee" name="employee" placeholder="Enter your name"><br>

  
  <label for="skills"></label>
  <textarea id="skills" name="skills" rows="3"  placeholder="your skills separated by comma"></textarea><br>

  
  <label for="cover_letter"></label>
  <textarea id="cover_letter" name="cover_letter" rows="4" ></textarea><br>

  <button type="submit">Submit Application</button>
</form>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}