{% load static %}

<head>
    {% block title %}<title>Hustlehub|making life better</title>{% endblock title %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
<!--Bootstrap-->
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
                <!--CSS main-->
    <link href="{% static "style.css" %}" rel="stylesheet">
    




    <nav>


    <div class="logo">
        <h3> Hustlehub </h3>

    </div>

    <ul>
        <li><a href=""> Home</a> </li>
        <li><a href="">About </a></li>
        <li><a href="">Testimonials</a></li>
        <li><a href=""> Find Gigs</a> </li>
        <li><a href=""> <button>Post Gigs</button></a> </li>
        

        


    </ul>



    </nav>

</head>

<body>
{% block content %}




{% endblock content %}

</body>