{% extends "boss_base.html" %}
{% load static %}
{% block title %} <title> Applications</title>{% endblock title %}
{% block content %}
    <style>

        #applications{
            margin-top:80px;
        }
        #applications h1{
            font-family: 'Poppins', sans-serif;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        a {
            text-decoration: none;
            color: #007BFF;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<div class="container" id="applications">

<body>
    <h1>{{ applications.count }} Applications received</h1>

    {% if applications %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Gig</th>
                <th>Applicant</th>
                <th>Date Applied</th>
                <th>Contact</th>
        
                
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ application.gig.name }}</td>
                <td>{{ application.employee }}</td>
                <td>{{ application.application_date|date:"Y-m-d H:i" }}</td>
                <td>{{ application.contact }}</td>
            
                

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No applications found for your gigs.</p>
    {% endif %}
</body>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}