{% extends "boss_base.html" %}
{% load static %}
{% block content %}<div class="form">
    <h2>Add a Gig</h2>
<form method="POST" action="{% url 'add_gig' %}">
    {% csrf_token %}

    <label for="name">Gig Name</label>
    <input type="text" id="name" name="name" placeholder="Gig name" required>

    <label for="rate">Rate</label>
    <input type="number" id="rate" name="rate" placeholder="What rate per hour are you paying?"required>

    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Describe what you want done" required></textarea>

    <label for="skill">Skill</label>
    <input type="text" id="skill" name="skill" placeholder="What skills are you looking for,separe with commas" required>

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="Where is this gig to be done?" required>

    <button type="submit">Add Gig</button>
</form>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
