{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container hero-section">
    <div class="justify-content-center align-items-center" style="height: 200px; text" id="text">
        <h3> Find Job,Hire Talents, Transform Lives</h3>
        <p>Hustlehub is your go-to platform for connecting job seekers with employers in the informal sector.
             Whether you’re hiring for house cleaning, construction, or farming, or showcasing your skills, we’re here to make it simple and effective.
             Join us in building a thriving community, one connection at a time.</p>

                <button><a href="#">Find Gigs</a></button>



    </div>

    <div class="img">
    <img src="{%static 'image/carpenter.jpg'%} ">
    <img src="{%static 'image/mjengo.jpg' %} ">
    <img src="{%static 'image/shamba.jpg'%}">
    <img src="{%static 'image/chisel.jpg'%}">
    <img src="{%static 'image/welding.jpg'%}">
    <img src="{%static 'image/sand.jpg'%}">


    </div>

</div>

 <div class="title"  id="about">
        <h3>What is Hustlehub?</h3>
<div class="about">


 <div class="about-img">
        <img src="{% static 'image/rb_13658.png' %}">

    </div>


    <div class="about-text">
        <p>   Hustlehub is an innovative web platform aimed at bridging the gap between job seekers and employers in the informal sector. 
            It focuses on creating opportunities for workers in industries like house cleaning, construction, farming, and small business services while helping employers quickly find skilled and reliable workers.
             By addressing the challenges of unemployment and underemployment, Hustlehub empowers informal workers to showcase their skills and gain access to meaningful job opportunities. </p>

             <p> The platform features user-friendly tools such as personalized profiles, job postings, and a skill-location matching system that ensures employers can find the right talent for their needs.
                 To foster trust and reliability, Hustlehub may also incorporate features like user ratings and reviews.
                 Designed with accessibility in mind, the platform works seamlessly on both computers and smartphones, making it easy to use even for those with limited internet experience.  </p>

                 <p>Hustlehub’s mission goes beyond job matching—it seeks to uplift the informal workforce by streamlining hiring processes, providing better job visibility, and creating a reliable space where informal workers can connect with potential employers. 
                    By prioritizing inclusivity and ease of use, Hustlehub aims to reduce unemployment, save employers time and effort, and contribute to the growth and sustainability of the informal job market.  </p>

    </div>
   

    </div>

   

    
</div>

{% endblock content %}
